node_modules/
.env
.env.*
!.env.example
!infra/deploy/.env.production.example
.DS_Store
coverage/
.tmp/
.env.test
.env.local
.nest/
dist/
*.log
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
build/
.vscode/
.idea/

# Local DB
postgres_data/
minio_data/
redis_data/

/generated/prisma
/services/api/src/generated/prisma
apps/mobile/.dart_tool/
apps/mobile/build/
**/google-services.json
**/GoogleService-Info.plist
**/*firebase*service-account*.json
